<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-4.2.xsd">
 
    <bean id="personService" class="com.sab2i.person.service.impl.PersonServiceImpl" init-method="initialize" />
 
    <bean id="Person" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
        <property name="schema" ref="schema" />
        <property name="portTypeName" value="Person" />
        <property name="locationUri" value="/services" />
        <property name="targetNamespace" value="http://www.sab2i.com/person/schema" />
    </bean>
 
    <bean id="schema" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/person.xsd" />
    </bean>
 
    <bean id="validatingInterceptor" class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
        <property name="xsdSchema" ref="schema" />
        <property name="validateRequest" value="true" />
        <property name="validateResponse" value="true" />
    </bean>
 
    <bean id="loggingInterceptor" class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
 
    <oxm:jaxb2-marshaller id="marshaller" context-path="com.sab2i.person.schema" />
    <oxm:jaxb2-marshaller id="unmarshaller" context-path="com.sab2i.person.schema" />
 
    <bean id="addPersonEndpoint" class="com.sab2i.person.service.endpoint.AddPersonEndPoint" autowire="byName" />
    <bean id="deletePersonEndpoint" class="com.sab2i.person.service.endpoint.DeletePersonEndPoint" autowire="byName" />
    <bean id="getAllPersonsEndpoint" class="com.sab2i.person.service.endpoint.GetAllPersonsEndPoint" autowire="byName" />
    <bean id="getPersonEndpoint" class="com.sab2i.person.service.endpoint.GetPersonEndPoint" autowire="byName" />
    <bean id="updatePersonEndpoint" class="com.sab2i.person.service.endpoint.UpdatePersonEndPoint" autowire="byName" />
 
 
    <bean name="endpointMapping" class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
        <property name="interceptors">
            <list>
                <ref local="loggingInterceptor" />
                <ref local="validatingInterceptor" />
                <ref local="wsSecurityInterceptor" />
            </list>
        </property>
        <property name="mappings">
            <props>
                <prop key="{http://www.sab2i.com/person/schema}AddPersonRequest">addPersonEndpoint</prop>
                <prop key="{http://www.sab2i.com/person/schema}DeletePersonRequest">deletePersonEndpoint</prop>
                <prop key="{http://www.sab2i.com/person/schema}GetAllPersonsRequest">getAllPersonsEndpoint</prop>
                <prop key="{http://www.sab2i.com/person/schema}GetPersonRequest">getPersonEndpoint</prop>
                <prop key="{http://www.sab2i.com/person/schema}UpdatePersonRequest">updatePersonEndpoint</prop>
            </props>
        </property>
    </bean>
 
    <bean id="exceptionResolver" class="org.springframework.ws.soap.server.endpoint.SoapFaultMappingExceptionResolver">
        <property name="defaultFault" value="SERVER" />
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.oxm.ValidationFailureException">CLIENT,Invalid request</prop>
                <prop key="com.sab2i.person.exceptions.PersonException">SERVER</prop>
            </props>
        </property>
    </bean>
    
    <bean id="wsSecurityInterceptor" class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor">
        <property name="validationActions" value="UsernameToken" />
        <property name="validationCallbackHandler" ref="callbackHandler" />
    </bean>
 
    <bean id="callbackHandler" class="org.springframework.ws.soap.security.wss4j.callback.SimplePasswordValidationCallbackHandler">
        <property name="users">
            <props>
                <prop key="admin">admin</prop>
                <prop key="martinsa">martinsa</prop>
            </props>
        </property>
    </bean>
</beans>